

@media only screen and (max-width: 1440px) {
    body .revival{
        .line__pic{
            width: calc(50% - 60px);
            min-width: calc(50% - 60px);
            height: 380px;
        }
        .line__desc{
            width: auto;
            padding-right: 32px;
        }
        .line_reverse{
            .line__desc{
                padding: 0 0 0 32px;
            }
        }
        .line::after{
            right: 10px;
        }
        .line_reverse::after {
            left: 10px;
        }
        .intro__header {
            width: 100%;
            padding: 0 40px;
        }
        .line::after {
            width: 200px;
            height: 200px;
            top: -100px
        }
        .containr {
            width: 100%;
            padding: 0 32px;
            &_full{
                padding: 0;
            }
        }
        .intro__studio-title{
            font-size: 95px;
            line-height: 105px;
        }
        .intro__studio-header {
            margin-right: 50px;
          }

    } 
}
@media only screen and (max-width: 1167px) {
    body .revival{
        .line{
            padding: 72px 0;
        }
        .line__pic{
            width: calc(50% - 30px);
            min-width: calc(50% - 30px);
            height: 310px;
        }
        h1 {
            font-size: 56px;
            line-height: 64px;
        }
        .intro__header {
            margin-bottom: 70px;
        }
        .line {
            padding: 60px 0;
        }
        .line__pic_reverse{
            margin: 0 0 0 40px;
        }
        .line__title {
            font-size: 48px;
            line-height: 56px;
            margin-bottom: 16px;
        }
        .line::after {
            width: 160px;
            height: 160px;
            top: -80px;
        }
        .intro__header_footer{
            margin-bottom: 50px;
            font-size: 56px;
            line-height: 64px;
        }
        .intro_history{
            height: 424px;
        }
        .intro_history .article__title {
            font-size: 56px;
            line-height: 64px;
            letter-spacing: -2px;
            margin-bottom: 16px;
        }
        .intro_history .article__sub {
            font-size: 22px;
            line-height: 28px;
        }
        .intro-desc{
            padding: 48px 0;
        }
        .intro-desc__text{
            font-size: 40px;
            line-height: 48px;
        }
        .intro__studio-title {
            font-size: 56px;
            line-height: 64px;
        }
        .containr {
            padding: 0 16px;
            &_full{
                padding: 0;
            }
        }
        .intro__studio-poster{
            max-width: 352px;
            padding: 16px;
        }
        .intro_studio{
            height: 636px;
        }
        .intro__studio-poster h4 {
            font-size: 22px;
            line-height: 28px;
            margin-bottom: 24px;
            font-family: "regular", Helvetica;
            font-weight: 400;
        }
        .intro__studio-poster h3 {
            font-size: 28px;
            line-height: 32px;
        }
        .intro__studio-poster p {
            font-size: 16px;
            line-height: 24px;
        }
        .intro__studio-header {
            margin-right: 18px;
        }
        .intro__info-address, .intro__info-contacts a{
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            font-family: "regular", Helvetica;
            margin-bottom: 15px;
        }
        .intro__info-contacts{
            a{
                display: block;
            }
            span{
                display: none;
            }
        }
        .infobanner__title {
            font-size: 22px;
            line-height: 28px;
        }
        .about__desc {
            min-width: 50%;
            padding-right: 20px;
        }
        .article__title {
            font-size: 48px;
            line-height: 56px;
        }
        .about__add-shower{
            margin-right: 30px;
        }
        .about__text p {
            font-size: 22px;
            line-height: 28px;
            margin-bottom: 34px;
        }
        .article {
            padding: 48px 0;
        }
        .about-info{
            flex-direction: column;
        }
        .article_about{
            .about__desc {
                min-width: 100%;
                padding-right: 0;
            }
            .article__title{
                margin-bottom: 16px;
            }
            .about-info__text{
                font-size: 22px;
                line-height: 28px;
            }
        }
        .nav-link {
            margin: 0 30px;
        }
        .result-total-wrap{
            font-size: 22px;
            line-height: 28px;
        }
        .schedule-filters-wrap{
            .row{
                div:first-child{
                    padding-left: 0;
                }
                div:last-child{
                    padding-right: 0;
                }
            }
        }
        .schedule-actions-wrap{
            .row{
                div:first-child{
                    padding-left: 0;
                }
                div:last-child{
                    padding-right: 0;
                }
            }
        }
        .schedule-day{
            .container{
                padding: 0;
                .col-xs-12{
                    padding: 0;
                }
                .row{
                    div:first-child{
                        padding-left: 0;
                    }
                }
                .class-time-wrap{
                    padding-left: 0;
                }
            }
        }
        .class-title{
            justify-content: flex-start;
            div:first-child{
                
            }
            div:last-child{
                
            }
        }
        .class-title .info-tooltip {
            width: 20px !important;
            min-width: 20px !important;
            height: 20px !important;
            display: flex;
            justify-content: flex-start;
            text-align: left;
        }
        .schedule-day .class-row:not(.day-header):hover {
            background: transparent;
        }
        .tooltip-text{
            padding: 16px !important;
        }
        .class-title .info-tooltip .tooltip-text{
            width: 300px;
            display: none;
        }
        .intro__header_min{
            font-size: 56px;
            line-height: 64px;
        }
        .article__figure{
            padding-right: 260px;
            &:after{
                width: 240px;
                height: 240px;
            }
            
        }
        .article__title {
            font-size: 48px;
            line-height: 56px;
        }
        .article__sub {
            font-size: 22px;
            line-height: 28px;
        }
        .article__figure{
            margin-bottom: 24px;
        }   
        .poster-line{
            padding: 24px 0;
            margin-top: 0;
            overflow-x: auto;
            width: 100%;
            //display: block;
        }
        .poster-line__item{
            width: 312px;
            min-width: 312px;
        }
        .poster-line__item-text {
            font-size: 22px;
            line-height: 28px;
        }
        .containr_scroll {
            width: 100%;
            position: relative;
            overflow: hidden;
        }
        .nav-tabs {
            flex-wrap: nowrap;
            width: auto;
            overflow-x: auto;
            justify-content: flex-start;
        }
        .nav-tabs .nav-item {
            white-space: nowrap;
        }
        .containr_scroll::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 70px;
            background: -moz-linear-gradient(left,  rgba(30,87,153,0) 0%, rgba(245,241,237,1) 100%); 
            background: -webkit-linear-gradient(left,  rgba(30,87,153,0) 0%,rgba(245,241,237,1) 100%); 
            background: linear-gradient(to right,  rgba(30,87,153,0) 0%,rgba(245,241,237,1) 100%); 
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#f5f1ed',GradientType=1 ); 
            pointer-events: none;
        }
        .nav-link {
            margin: 0 20px;
        }   
        .tab-pane{
            .line {
                padding: 48px 0;
                padding-bottom: 0;
            }
            .line__text{
                font-size: 22px;
                line-height: 28px;
            }
            .line__pic {
                height: 548px;
            }
        }
        .article__title{
            margin-bottom: 16px;
        }
        .line__pic_200{
            height: 480px;
        }
        .line__text_200{
            font-size: 22px;
            line-height: 28px;
        }
        .article_note .containr {
            flex-direction: column;
        }
        .article_note .containr .tablegrid_66 {
            width: 100%;
            gap: 24px;
            margin-bottom: 56px;
            border: 0;
            h3{
                height: auto;;
            }
        }
        .article_note .containr .tablegrid_33{
            width: 100%;
            gap: 24px;
            padding: 0;
            margin-bottom: 0;
            h3{
                height: auto;;
            }
        }
        .article_note .containr .tablegrid h3 {
            font-size: 32px;
            line-height: 36px;
            width: 100%;
        }
        .containr_galright::after{
            display: none;
        }
        .containr_galright{
            flex-direction: column;
        }
        .article__figure_galright {
            width: 100%;
            min-width: 100%;
            padding: 0;
            margin: 0 0 48px;
        }
        .gal_right{
            flex-direction: row;
            overflow-x: auto;
            width: 100%;
            gap: 16px;
        }
        .gal_right .gal__pic {
            width: 320px;
        }
        .article_form .containr{
            flex-direction: column;
        }
        .hasDatepicker {
            width: 100%;
            margin: 0 0 24px;
        }
        .ui-datepicker {
            width: 100%;
        }
        .article_schedule{
            padding-top: 0;
        }
        .article_form{
            padding-bottom: 24px;
        }
        .table-th {
            padding: 0;
        }
        .day-copy {
            font-size: 32px;
            line-height: 36px;
        }
        .table-tr {
            padding: 15px 0;
            flex-wrap: wrap;
            .table-tr__start{
                order: 1;
                width: 110px;
            }
            .table-tr__instructor{
                order: 2;
                width: auto;
                flex: 1 0 auto;
            }
            .table-tr__location{
                order: 4;
                margin-top: 32px;
                width: 50%;
            }
            .table-tr__schedule{
                order: 5;
                margin-top: 32px;
            }
            .table-tr__btn{
                order: 3;
                width: 180px;
                .btn{
                    padding: 0 32px;
                }
            }
        }














    }
}

@media only screen and (max-width: 767px) {
    body .revival{
        .intro_landing{
            height: 432px;
        }
        h1 {
            font-size: 32px;
            line-height: 36px;
        }
        .line_green {
            background: #fff;
        }
        .line {
            padding: 48px 0;
            flex-direction: column;
        }
        .line__desc{
            padding: 0 32px;
            margin-bottom: 36px;
            align-items: center;
            text-align: center;
        }
        .line__pic {
            order: 2;
            width: calc(100% - 16px);
            min-width: calc(100% - 16px);
            margin: 0;
        }
        .line__title::after{
            display: none !important;
        }
        .line_reverse{
            .line__desc {
                padding: 0 16px;
            }
            
        }
        .line__pic_reverse{
            align-self: flex-end;
        }
        .line_light {
            background: #fff;
        }
        .intro__header_footer {
            font-size: 32px;
            line-height: 36px;
        }
        .intro_footer{
            margin-bottom: 0;
            height: 640px;
        }
        .intro-desc__text{
            font-size: 22px;
            line-height: 28px;
        }
        .intro_history{
            height: 684px;
        }
        .intro_studio {
            height: 820px;
        }
        .containr_studio{
            flex-direction: column;
        }
        .intro__studio-header {
            width: 100%;
            max-width: 100%;
            margin: 0 0 32px;
        }
        .intro__studio-title {
            font-size: 48px;
            line-height: 56px;
            margin-bottom: 16px;
        }
        .nav-tabs{
            flex-wrap: nowrap;
            width: auto;
            overflow-x: auto;
            justify-content: flex-start;
            
            
        }
        .containr_scroll{
            width: 100%;
            //overflow-x: auto;
            position: relative;
            overflow: hidden;
            &:after{
                content: '';
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                width: 70px;
                background: -moz-linear-gradient(left,  rgba(229,229,229,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(left,  rgba(229,229,229,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to right,  rgba(229,229,229,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e5e5e5', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
                pointer-events: none;
            };
        }
        .nav-tabs .nav-item {
            white-space: nowrap;
        }
        .nav-tabs .nav-link.active{
            border-bottom: 3px solid #FF7A00;
        }
        .nav-link {
            margin: 0 16px;
        }
        .intro__studio-poster {
            max-width: 100%;
        }
        .infobanner {
            padding: 30px 12px;
            flex-direction: column;
            align-items: center;
        }
        .infobanner__pic{
            margin: 0 0 16px;
        }
        .infobanner__title{
            text-align: center;
            margin-bottom: 26px;
        }
        .about-banner {
            height: 260px;
        }
        .about .containr {
            flex-direction: column;
        }
        .article__title_mb {
            margin-bottom: 24px;
        }
        .about__add {
            margin-bottom: 24px;
        }
        .about__text p {
            margin-bottom: 24px;
        }
        .about__add *{
            font-size: 22px;
            line-height: 28px;
        }
        .about__add-shower {
            margin-right: 22px;
        }
        .class-row{
            .col-xs-3 {
                width: 50%;
                margin-bottom: 24px;
            }
            .col-xs-8 {
                width: 100%;
                padding-left: 0;
                margin-bottom: 24px;
            }
            .col-sm-4{
                max-width: 50%;
                flex: 0 0 50%;
                &.class-title-wrap{
                    max-width: 100%;
                    flex: 0 0 100%;
                    padding-right: 0;
                }
            }
            .col-xs-12 {
                width: 100%;
                padding-left: 0;
                max-width: 100%;
                flex: 0 0 100%;
                .btn{
                    width: 100%;
                    text-align: center;
                    justify-content: center;
                }
            }
        }
        .class-title .info-tooltip{
            position: static;
        }
        .class-row .col-sm-4.class-title-wrap{
            position: relative;
        }
        .article__title_schedule i {
            font-size: 48px;
            line-height: 56px;
        }
        .print{
            width: 32px;
            height: 32px;
            span{
                display: none;
            }
        }
        
    }
}
@media only screen and (max-width: 575px) {
    body .revival{
        .col-md-8{
            padding-left: 0;
        }
        .col-sm-5{
            padding: 0;
        }
    }
}