

@media only screen and (max-width: 1440px) {
    body .revival{
        .line__pic{
            width: calc(50% - 60px);
            min-width: calc(50% - 60px);
            height: 380px;
        }
        .line__desc{
            width: auto;
            padding-right: 32px;
        }
        .line_reverse{
            .line__desc{
                padding: 0 0 0 32px;
            }
        }
        .line::after{
            right: 10px;
        }
        .line_reverse::after {
            left: 10px;
        }
        .intro__header {
            width: 100%;
            padding: 0 40px;
        }
        .line::after {
            width: 200px;
            height: 200px;
            top: -100px
        }





    } 
}
@media only screen and (max-width: 1167px) {
    body .revival{
        .line{
            padding: 72px 0;
        }
        .line__pic{
            width: calc(50% - 30px);
            min-width: calc(50% - 30px);
            height: 310px;
        }
        h1 {
            font-size: 56px;
            line-height: 64px;
        }
        .intro__header {
            margin-bottom: 70px;
        }
        .line {
            padding: 60px 0;
        }
        .line__pic_reverse{
            margin: 0 0 0 40px;
        }
        .line__title {
            font-size: 48px;
            line-height: 56px;
            margin-bottom: 16px;
        }
        .line::after {
            width: 160px;
            height: 160px;
            top: -80px;
        }
        .intro__header_footer{
            margin-bottom: 50px;
            font-size: 56px;
            line-height: 64px;
        }
    }
}

@media only screen and (max-width: 767px) {
    body .revival{
        .intro_landing{
            height: 432px;
            margin-bottom: 20px;
        }
        h1 {
            font-size: 32px;
            line-height: 36px;
        }
        .line_green {
            background: #fff;
        }
        .line {
            padding: 24px 0;
            flex-direction: column;
        }
        .line__desc{
            order: 1;
            padding: 0 16px;
            margin-bottom: 36px;
        }
        .btn{
            background: #CFDDC7;
        }
        .line__pic {
            order: 2;
            width: calc(100% - 16px);
            min-width: calc(100% - 16px);
            margin: 0;
        }
        .line::after{
            display: none;
        }
        .line_reverse{
            .line__desc {
                padding: 0 16px;
            }
            
        }
        .line__pic_reverse{
            align-self: flex-end;
        }
        .line_light {
            background: #fff;
        }
        .intro__header_footer {
            font-size: 32px;
            line-height: 36px;
        }
        .intro_footer{
            margin-bottom: 0;
        }
    }
}
