@font-face {
    font-family: 'L15';
    src: url('../fonts/L15-Medium.woff2') format('woff2'),
    url('../fonts/L15-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
$transition: all 0.2s ease-in-out;
$transition05: all 0.5s ease-in-out;
$font: 'L15', Helvetica;

$font-color: #111111;
$color-gray: #969696;
a:active,
a:focus,
input:active,
input:focus,
textarea:active,
textarea:focus,
button:active,
button:focus,
label:active,
label:focus{
    outline: none !important;
    outline-style: none !important;
    -moz-outline-style: none !important;
    text-decoration: none !important;
}

h1{font-size: 48px;}
h2{font-size: 26px;}
h3{font-size: 24px;}
h4{font-size: 18px;}

h1, h2, h3, h4, h5, h6{
    font-weight: 300;
    margin: 0 0 20px;
    line-height: 130%;
}

input,
select,
textarea {
    font-family: $font;
}

p{
    margin: 0 0 16px;
}

img{
    line-height: 100%;
    max-width: 100%;
    display: block;
}

a,
a:hover,
a:focus,
a:visited,
a:active{
    color: $font-color;
    text-decoration: none;
    position: relative;
    transition: $transition;
}

ul{
    list-style-type: none;
    list-style-position: inside;
    display: block;
    margin: 0;
    padding: 0;
}

ol{
    list-style-type: decimal;
    list-style-position: inside;
    display: block;
    margin: 16px 0;
    padding: 0;
}

b, strong{
    font-weight: bold;
}

i{
    font-style: italic;
}

table{
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 12px 0 12px;
    width: 100%;
}

table th{
    font-weight: bold;
}

table th, table td{
    border: 1px solid #ccc;
    padding: 8px;
}



/*fixed footer*/
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    color: $font-color;
    font-family: $font;
    line-height: 140%;
    font-size: 16px;
    box-sizing: border-box;
    *{
        font-family: $font;
    }
}






















.intro {

    &_landing {
        background-image: url(../images/landing_intro.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 758px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__header {
    }
}
.containr {
    margin: 0 auto !important;
    &_landing {
        width: 100%;
        max-width: 1920px;
    }
}
.btn {
}















