@font-face {
    font-family: 'medium';
    src: url('../fonts/L15-Medium.woff2') format('woff2'),
    url('../fonts/L15-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mediumwide';
    src: url('../fonts/L15-MediumWide.woff2') format('woff2'),
    url('../fonts/L15-MediumWide.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'regular';
    src: url('../fonts/L15-Regular.woff2') format('woff2'),
    url('../fonts/L15-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'regularwide';
    src: url('../fonts/L15-RegularWide.woff2') format('woff2'),
    url('../fonts/L15-RegularWide.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'semibold';
    src: url('../fonts/L15-SemiBold.woff2') format('woff2'),
    url('../fonts/L15-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body .revival{



$transition: all 0.2s ease-in-out;
$transition05: all 0.5s ease-in-out;

$font-medium: 'medium', Helvetica;
$font-medium-wide: 'mediumwide', Helvetica;
$font-regular: 'regular', Helvetica;
$font-regular-wide: 'regularwide', Helvetica;
$font-semibold: 'semibold', Helvetica;

$font-color: #394531;
$bg-green: #CFDDC7;
$bg-light: #F5F1ED;

*{
    font-family: $font-regular-wide;
    color: $font-color;
    font-size: 24px;
    line-height: 32px;
}

a:active,
a:focus,
input:active,
input:focus,
textarea:active,
textarea:focus,
button:active,
button:focus,
label:active,
label:focus{
    outline: none !important;
    outline-style: none !important;
    -moz-outline-style: none !important;
    text-decoration: none !important;
}

h1{font-size: 72px; line-height: 80px;}
h2{font-size: 72px; line-height: 80px;}

h1, h2{
    font-family: $font-medium;
    margin: 0 0 20px;
}

input,
select,
textarea {
    font-family: $font-regular;
}

p{
    margin: 0 0 20px;
}

img{
    line-height: 100%;
    max-width: 100%;
    display: block;
}

a,
a:hover,
a:focus,
a:visited,
a:active{
    color: $font-color;
    text-decoration: none;
    position: relative;
    transition: $transition;
}

ul{
    list-style-type: none;
    list-style-position: inside;
    display: block;
    margin: 0;
    padding: 0;
}

ol{
    list-style-type: decimal;
    list-style-position: inside;
    display: block;
    margin: 16px 0;
    padding: 0;
}

b, strong{
    font-weight: bold;
}

i{
    font-style: italic;
}

table{
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 12px 0 12px;
    width: 100%;
}

table th{
    font-weight: bold;
}

table th, table td{
    border: 1px solid #ccc;
    padding: 8px;
}








.intro {

    &_landing {
        background-image: url(../images/landing_intro.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 758px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &_studio {
        background-image: url(../images/landing_3.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 680px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &_footer {
        background-image: url(../images/landing_3.jpg);
    }

    &__header {
        color: #fff;
        margin-bottom: 100px;
        width: 1100px;
        text-align: center;
        &_footer{
            font-size: 128px;
            line-height: 144px;
            margin-bottom: 48px;
        }
    }
    &_studio {
        *{
            color: #fff;
        }
        
    }

    &__studio-header {
        width: 800px;
        max-width: 800px;
        margin-right: 80px;
    }
    &__studio-title{
        font-size: 128px;
        line-height: 144px;
    }
    &__header {
        &_studio{
            width: auto;
        }
    }

    &__info {
    }

    &__info-address {
    }

    &__info-contacts {
        a{
            &:hover{
                color: #fff;
                text-decoration: underline;
            }
        }
    }

    &__studio-poster {
        padding: 32px;
        background: #99A592;
        border-radius: 8px;
        max-width: 417px;
        h4{
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 24px;
            font-family: $font-regular;
        }
        h3{
            font-size: 32px;
            line-height: 40px;
            margin-bottom: 16px;
        }
        p{
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 0;
            a{
                font-size: 16px;
                line-height: 24px;
                color: #FF7A00;
                &:hover{
                    color: #FF7A00;
                    text-decoration: underline;
                }
            }
        }
    }
}
.containr {
    margin: 0 auto !important;
    width: 1376px;
    &_full {
        width: 100%;
        max-width: 1920px;
    }
    &_studio{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.df{
    display: flex;
}
.btn {
    height: 52px;
    padding: 0 48px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    transition: $transition;
    background: #fff;
    font-family: $font-medium;
    &:hover{
        background: #f1ffe9;
    }
    &_green{
        background: #CFDDC7;
        &:hover{
            background: #fff;
        }
    }
}
.line {
    background: $bg-green;
    padding: 96px 0;
    display: flex;
    position: relative;
    &:after{
        content: '';
        display: block;
        width: 300px;
        height: 300px;
        background-image: url(../images/sun.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: -150px;
        right: 300px;
    }
    &_reverse{
        justify-content: flex-end;
        &:after{
            right: auto;
            left: 300px;
        }
    }
    
    &__pic {
        width: 47%;
        height: 480px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0 16px 16px 0;
        margin-right: 60px;
        &_reverse{
            border-radius: 16px 0 0 16px;
            margin: 0 0 0 60px;
        }
        &_landing-1{
            background-image: url(../images/landing_1.jpg);
        }
        &_landing-2{
            background-image: url(../images/landing_2.jpg);
        }
    }

    &__desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 650px;
    }

    &__title {
        font-family: $font-medium;
    }

    &__text {
        margin-bottom: 30px;
    }
}
.bg{
    &_green{
        background: $bg-green;
    }
    &_light{
        background: $bg-light;
    }
}
.nav-tabs{
    display: flex;
    justify-content: center;
    border: 0;
}
.nav-link{
    padding: 0;
    height: 64px;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    margin: 0 40px;
    border: 0;
    background: transparent;
    border-bottom: 2px solid transparent;
    color: #394531;
    font-family: $font-regular;
    &.active{
        border-color: #FF7A00;
        font-family: $font-medium;
    }
}
.infobanner-wrap {
}
.infobanner {
    &__pic {
    }

    &__inner {
    }

    &__title {
    }

    &__text {
    }
}
.about-banner{
    
}































}














@import '_revival_query';