@font-face {
  font-family: "medium";
  src: url("../fonts/L15-Medium.woff2") format("woff2"), url("../fonts/L15-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "mediumwide";
  src: url("../fonts/L15-MediumWide.woff2") format("woff2"), url("../fonts/L15-MediumWide.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "regular";
  src: url("../fonts/L15-Regular.woff2") format("woff2"), url("../fonts/L15-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "regularwide";
  src: url("../fonts/L15-RegularWide.woff2") format("woff2"), url("../fonts/L15-RegularWide.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "semibold";
  src: url("../fonts/L15-SemiBold.woff2") format("woff2"), url("../fonts/L15-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body .revival * {
  font-family: "regularwide", Helvetica;
  color: #394531;
  font-size: 24px;
  line-height: 32px;
}
body .revival a:active,
body .revival a:focus,
body .revival input:active,
body .revival input:focus,
body .revival textarea:active,
body .revival textarea:focus,
body .revival button:active,
body .revival button:focus,
body .revival label:active,
body .revival label:focus {
  outline: none !important;
  outline-style: none !important;
  -moz-outline-style: none !important;
  text-decoration: none !important;
}
body .revival h1 {
  font-size: 72px;
  line-height: 80px;
}
body .revival h2 {
  font-size: 72px;
  line-height: 80px;
}
body .revival h1, body .revival h2 {
  font-family: "medium", Helvetica;
  margin: 0 0 20px;
}
body .revival input,
body .revival select,
body .revival textarea {
  font-family: "regular", Helvetica;
}
body .revival p {
  margin: 0 0 20px;
}
body .revival img {
  line-height: 100%;
  max-width: 100%;
  display: block;
}
body .revival a,
body .revival a:hover,
body .revival a:focus,
body .revival a:visited,
body .revival a:active {
  color: #394531;
  text-decoration: none;
  position: relative;
  transition: all 0.2s ease-in-out;
}
body .revival ul {
  list-style-type: none;
  list-style-position: inside;
  display: block;
  margin: 0;
  padding: 0;
}
body .revival ol {
  list-style-type: decimal;
  list-style-position: inside;
  display: block;
  margin: 16px 0;
  padding: 0;
}
body .revival b, body .revival strong {
  font-weight: bold;
}
body .revival i {
  font-style: italic;
}
body .revival table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 12px 0 12px;
  width: 100%;
}
body .revival table th {
  font-weight: bold;
}
body .revival table th, body .revival table td {
  border: 1px solid #ccc;
  padding: 8px;
}
body .revival .intro_landing {
  background-image: url(../images/landing_intro.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 758px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .revival .intro_studio {
  background-image: url(../images/landing_3.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 680px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .revival .intro_footer {
  background-image: url(../images/landing_3.jpg);
}
body .revival .intro__header {
  color: #fff;
  margin-bottom: 100px;
  width: 1100px;
  text-align: center;
}
body .revival .intro__header_footer {
  font-size: 128px;
  line-height: 144px;
  margin-bottom: 48px;
}
body .revival .intro_studio * {
  color: #fff;
}
body .revival .intro__studio-header {
  width: 800px;
  max-width: 800px;
  margin-right: 80px;
}
body .revival .intro__studio-title {
  font-size: 128px;
  line-height: 144px;
}
body .revival .intro__header_studio {
  width: auto;
}
body .revival .intro__info-contacts a:hover {
  color: #fff;
  text-decoration: underline;
}
body .revival .intro__studio-poster {
  padding: 32px;
  background: #99A592;
  border-radius: 8px;
  max-width: 417px;
}
body .revival .intro__studio-poster h4 {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 24px;
  font-family: "regular", Helvetica;
}
body .revival .intro__studio-poster h3 {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 16px;
}
body .revival .intro__studio-poster p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
}
body .revival .intro__studio-poster p a {
  font-size: 16px;
  line-height: 24px;
  color: #FF7A00;
}
body .revival .intro__studio-poster p a:hover {
  color: #FF7A00;
  text-decoration: underline;
}
body .revival .containr {
  margin: 0 auto !important;
  width: 1376px;
}
body .revival .containr_full {
  width: 100%;
  max-width: 1920px;
}
body .revival .containr_studio {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .revival .df {
  display: flex;
}
body .revival .btn {
  height: 52px;
  padding: 0 48px;
  border-radius: 8px;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
  background: #fff;
  font-family: "medium", Helvetica;
}
body .revival .btn:hover {
  background: #f1ffe9;
}
body .revival .btn_green {
  background: #CFDDC7;
}
body .revival .btn_green:hover {
  background: #fff;
}
body .revival .line {
  background: #CFDDC7;
  padding: 96px 0;
  display: flex;
  position: relative;
}
body .revival .line:after {
  content: "";
  display: block;
  width: 300px;
  height: 300px;
  background-image: url(../images/sun.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -150px;
  right: 300px;
}
body .revival .line_reverse {
  justify-content: flex-end;
}
body .revival .line_reverse:after {
  right: auto;
  left: 300px;
}
body .revival .line__pic {
  width: 47%;
  height: 480px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 16px 16px 0;
  margin-right: 60px;
}
body .revival .line__pic_reverse {
  border-radius: 16px 0 0 16px;
  margin: 0 0 0 60px;
}
body .revival .line__pic_landing-1 {
  background-image: url(../images/landing_1.jpg);
}
body .revival .line__pic_landing-2 {
  background-image: url(../images/landing_2.jpg);
}
body .revival .line__desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 650px;
}
body .revival .line__title {
  font-family: "medium", Helvetica;
}
body .revival .line__text {
  margin-bottom: 30px;
}
body .revival .bg_green {
  background: #CFDDC7;
}
body .revival .bg_light {
  background: #F5F1ED;
}
body .revival .nav-tabs {
  display: flex;
  justify-content: center;
  border: 0;
}
body .revival .nav-link {
  padding: 0;
  height: 64px;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  margin: 0 40px;
  border: 0;
  background: transparent;
  border-bottom: 2px solid transparent;
  color: #394531;
  font-family: "regular", Helvetica;
}
body .revival .nav-link.active {
  border-color: #FF7A00;
  font-family: "medium", Helvetica;
}
@media only screen and (max-width: 1440px) {
  body .revival .line__pic {
    width: 500px;
    min-width: 500px;
    height: 380px;
  }
  body .revival .line__desc {
    width: auto;
    padding-right: 32px;
  }
  body .revival .line_reverse .line__desc {
    padding: 0 0 0 32px;
  }
  body .revival .line::after {
    right: 10px;
  }
  body .revival .line_reverse::after {
    left: 10px;
  }
  body .revival .intro__header {
    width: 100%;
    padding: 0 40px;
  }
}
@media only screen and (max-width: 1024px) {
  body .revival h1 {
    font-size: 56px;
    line-height: 64px;
  }
  body .revival .line__pic {
    width: 346px;
    min-width: 346px;
    height: 310px;
  }
  body .revival .line__title {
    font-size: 48px;
    line-height: 56px;
  }
  body .revival * {
    font-size: 22px;
    line-height: 28px;
  }
  body .revival .line::after {
    width: 200px;
    height: 200px;
    top: -100px;
  }
  body .revival .intro__header_footer {
    font-size: 56px;
    line-height: 64px;
    margin-bottom: 96px;
  }
}
@media only screen and (max-width: 768px) {
  body .revival .intro_landing {
    height: 550px;
  }
  body .revival h1 {
    font-size: 44px;
    line-height: 52px;
  }
  body .revival .intro__header {
    margin-bottom: 70px;
  }
  body .revival .line {
    padding: 60px 0;
  }
  body .revival .line__pic {
    width: 260px;
    min-width: 260px;
    height: 310px;
    margin-right: 40px;
  }
  body .revival .line__pic_reverse {
    margin: 0 0 0 40px;
  }
  body .revival .line__title {
    font-size: 38px;
    line-height: 46px;
  }
  body .revival * {
    font-size: 20px;
    line-height: 23px;
  }
  body .revival .line::after {
    width: 160px;
    height: 160px;
    top: -80px;
  }
  body .revival .intro_footer {
    height: 400px;
  }
  body .revival .intro__header_footer {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 600px) {
  body .revival .intro_landing {
    height: 432px;
    margin-bottom: 20px;
  }
  body .revival h1 {
    font-size: 32px;
    line-height: 36px;
  }
  body .revival .line_green {
    background: #fff;
  }
  body .revival .line {
    padding: 24px 0;
    flex-direction: column;
  }
  body .revival .line__desc {
    order: 1;
    padding: 0 16px;
    margin-bottom: 36px;
  }
  body .revival .btn {
    background: #CFDDC7;
  }
  body .revival .line__pic {
    order: 2;
    width: calc(100% - 16px);
    min-width: calc(100% - 16px);
    margin: 0;
  }
  body .revival .line::after {
    display: none;
  }
  body .revival .line_reverse .line__desc {
    padding: 0 16px;
  }
  body .revival .line__pic_reverse {
    align-self: flex-end;
  }
  body .revival .line_light {
    background: #fff;
  }
  body .revival .intro__header_footer {
    font-size: 32px;
    line-height: 36px;
  }
  body .revival .intro_footer {
    margin-bottom: 0;
  }
}/*# sourceMappingURL=revival.css.map */