@font-face {
    font-family: 'medium';
    src: url('../fonts/L15-Medium.woff2') format('woff2'),
        url('../fonts/L15-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mediumwide';
    src: url('../fonts/L15-MediumWide.woff2') format('woff2'),
        url('../fonts/L15-MediumWide.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'regular';
    src: url('../fonts/L15-Regular.woff2') format('woff2'),
        url('../fonts/L15-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'regularwide';
    src: url('../fonts/L15-RegularWide.woff2') format('woff2'),
        url('../fonts/L15-RegularWide.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'semibold';
    src: url('../fonts/L15-SemiBold.woff2') format('woff2'),
        url('../fonts/L15-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body .revival {



    $transition: all 0.2s ease-in-out;
    $transition05: all 0.5s ease-in-out;

    $font-medium: 'medium',
    Helvetica;
    $font-medium-wide: 'mediumwide',
    Helvetica;
    $font-regular: 'regular',
    Helvetica;
    $font-regular-wide: 'regularwide',
    Helvetica;
    $font-semibold: 'semibold',
    Helvetica;

    $font-color: #394531;
    $bg-green: #CFDDC7;
    $bg-light: #F5F1ED;
    $bg-semilight: #FAF8F6;
    $bg-white: #fff;

    * {
        font-family: $font-regular-wide;
        color: $font-color;
        font-size: 24px;
        line-height: 32px;
    }

    a:active,
    a:focus,
    input:active,
    input:focus,
    textarea:active,
    textarea:focus,
    button:active,
    button:focus,
    label:active,
    label:focus {
        outline: none !important;
        outline-style: none !important;
        -moz-outline-style: none !important;
        text-decoration: none !important;
    }

    h1 {
        font-size: 72px;
        line-height: 80px;
    }

    h2 {
        font-size: 72px;
        line-height: 80px;
    }

    h1,
    h2 {
        font-family: $font-medium-wide;
        margin: 0 0 20px;
    }

    input,
    select,
    textarea {
        font-family: $font-regular;
    }

    p {
        margin: 0 0 20px;
    }

    img {
        line-height: 100%;
        max-width: 100%;
        display: block;
    }

    a,
    a:hover,
    a:focus,
    a:visited,
    a:active {
        color: $font-color;
        text-decoration: none;
        position: relative;
        transition: $transition;
    }

    ul {
        list-style-type: none;
        list-style-position: inside;
        display: block;
        margin: 0;
        padding: 0;
    }

    ol {
        list-style-type: decimal;
        list-style-position: inside;
        display: block;
        margin: 16px 0;
        padding: 0;
    }

    b,
    strong {
        font-weight: bold;
    }

    i {
        font-style: italic;
    }

    table {
        border: 1px solid #ccc;
        border-collapse: collapse;
        margin: 12px 0 12px;
        width: 100%;
    }

    table th {
        font-weight: bold;
    }

    table th,
    table td {
        border: 1px solid #ccc;
        padding: 8px;
    }
    .mb_0{
        margin-bottom: 0 !important;
    }







    .intro {
        &_min{
            height: 602px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        &_landing {
            background-image: url(../images/landing_intro.jpg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 758px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        &_studio {
            background-image: url(../images/landing_3.jpg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 680px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &_teachers{
            background-image: url(../images/intro_teachers.jpg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 602px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        &_200{
            background-image: url(../images/200_1.jpg);
        }
        &_history{
            background-image: url(../images/intro_history.jpg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 724px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
            .article {

                &__sup {
                    color: #fff;
                }
        
                &__title {
                    color: #fff;
                    font-size: 128px;
                    line-height: 144px;
                    max-width: 1376px;
                    font-family: $font-medium-wide;
                    letter-spacing: -4px;
                    font-weight: 500;
                }
        
                &__sub {
                    color: #fff;
                    margin: 0;
                    max-width: 1376px;
                }
            }
        
        }
        &_ourclasses{
            background-image: url(../images/intro_teachers.jpg);
        }
        &_careers{
            background-image: url(../images/intro_history.jpg);
        }
        &-desc{
            &__text{
                font-size: 48px;
                line-height: 56px;
                font-family: $font-medium-wide;
                text-align: center;
            }
        }
        &-sub{
            color: #fff;
            margin-top: 16px;
            font-size: 32px;
            line-height: 40px;
        }
        &_footer {
            background-image: url(../images/landing_3.jpg);
        }

        &__header {
            color: #fff;
            margin-bottom: 100px;
            //width: 1100px;
            text-align: center;
            &_min{
                margin-bottom: 0;
                font-size: 128px;
                line-height: 144px;
            }
            &_footer {
                font-size: 128px;
                line-height: 144px;
                margin-bottom: 48px;
            }
        }

        &_studio {
            * {
                color: #fff;
            }

        }

        &__studio-header {
            width: 800px;
            max-width: 800px;
            margin-right: 80px;
        }

        &__studio-title {
            font-size: 128px;
            line-height: 144px;
        }

        &__header {
            &_studio {
                width: auto;
            }
        }

        &__info {}

        &__info-address {}

        &__info-contacts {
            a {
                &:hover {
                    color: #fff;
                    text-decoration: underline;
                }
            }
        }

        &__studio-poster {
            padding: 32px;
            background: #99A592;
            border-radius: 8px;
            max-width: 417px;

            h4 {
                font-size: 24px;
                line-height: 32px;
                margin-bottom: 24px;
                font-family: $font-regular;
            }

            h3 {
                font-size: 32px;
                line-height: 40px;
                margin-bottom: 16px;
            }

            p {
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 0;

                a {
                    font-size: 16px;
                    line-height: 24px;
                    text-decoration: underline;
                    font-weight: 600;
                    color: #fff;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .row{
        //display: block !important;
    }
    .containr {
        margin: 0 auto !important;
        width: 1376px;

        &_full {
            width: 100%;
            //max-width: 1920px;
        }

        &_studio {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .df {
        display: flex;
    }
    #map, #tour{
        display: block;
    }
    .btn {
        height: 52px;
        padding: 0 48px;
        border-radius: 8px;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        transition: $transition;
        background: #fff;
        font-family: $font-medium;
        &:hover {
            background: #f1ffe9;
        }

        &_green {
            background: #CFDDC7;
            &:hover {
                background: #E1EADC;
            }
            &:active{
                background: #B9C5B2;
            }
        }
        &_orange{
            background: #FF7A00;
            color: #fff !important;
            &:hover{
                background: #FF9C40;
            }
            &:active{
                background: #D96800;
            }
        }

        &_schedule {
            background: #CFDDC7;
            i{
                font-style: normal;
            }
            

            &:hover {
                background: #f1ffe9;
            }
        }
    }

    .line {
        background: $bg-green;
        padding: 96px 0;
        display: flex;
        position: relative;
        &_transparent{
            background: transparent;
            .line__title {
                &:after {
                    display: none !important;
                }
            }
        }
        &_tab{
            padding-top: 50px;
        }

        &_reverse {
            justify-content: flex-end;

            .line__title {
                font-family: $font-medium-wide;
                position: relative;
                &:after {
                    content: '';
                    display: block;
                    width: 300px;
                    height: 300px;
                    background-image: url(../images/sun.png);
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    position: absolute;
                    bottom: 70%;
                    left: 0;
                }
            }
        }
        &_nobg{
            &::after{
                display: none;
            }
        }
        &__pic {
            width: 47%;
            height: 480px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 0 16px 16px 0;
            margin-right: 60px;

            &_reverse {
                border-radius: 16px 0 0 16px;
                margin: 0 0 0 60px;
            }

            &_landing-1 {
                background-image: url(../images/landing_1.jpg);
            }

            &_landing-2 {
                background-image: url(../images/landing_2.jpg);
            }
            &_history-1 {
                background-image: url(../images/history_1.jpg);
            }
            &_history-2 {
                background-image: url(../images/history_2.jpg);
            }
            &_history-3 {
                background-image: url(../images/history_3.jpg);
            }
            &_yoga-1{
                background-image: url(../images/yoga_1.jpg);
                height: 942px;
            }
            &_careers-1{
                background-image: url(../images/careers_1.png);
                height: 648px;
            }
            &_200-2{
                background-image: url(../images/200_2.jpg);
            }
            &_200-6{
                background-image: url(../images/200_6.jpg);
            }
        }

        &__desc {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 650px;
        }

        &__sup {
            color: #666C63;
            font-size: 16px;
            line-height: 20px;
        }

        &__title {
            font-family: $font-medium-wide;
            position: relative;
            &:after {
                content: '';
                display: block;
                width: 300px;
                height: 300px;
                background-image: url(../images/sun.png);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                bottom: 70%;
                right: 0;
            }
        }

        &__text {
            margin-bottom: 30px;
            &:last-child{
                margin-bottom: 0;
            }
        }
        &__subtext {
            p{
                margin-bottom: 16px;
                font-size: 16px;
                line-height: 24px;
                font-family: $font-regular !important;
                font-weight: 400;
                &:last-child{
                    margin-bottom: 0;;
                }
            }
            &_big{
                p{
                    font-size: 24px;
                    line-height: 32px;
                    font-family: $font-regular-wide !important;
                }
            }
        }
    }

    .bg {
        &_green {
            background: $bg-green;
        }

        &_light {
            background: $bg-light;
        }
        &_semilight {
            background: $bg-semilight;
        }
        &_white {
            background: $bg-white;
        }
    }

    .nav-tabs {
        display: flex;
        justify-content: center;
        border: 0;
    }

    .nav-link {
        padding: 0;
        height: 64px;
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 20px;
        margin: 0 40px;
        border: 0;
        background: transparent;
        border-bottom: 2px solid transparent;
        color: #394531;
        font-family: $font-regular;

        &.active {
            border-color: #FF7A00;
            font-family: $font-medium;
            background: transparent;
        }
    }

    .infobanner-wrap {
        padding: 32px 0;
    }

    .infobanner {
        background: #fff;
        border-radius: 8px;
        padding: 24px 32px;
        display: flex;

        &__pic {
            width: 94px;
            min-width: 94px;
            height: 100px;
            background-image: url(../images/safe.png);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            margin-right: 32px;
        }

        &__inner {}

        &__title {
            font-size: 24px;
            line-height: 32px;
            color: #B9C5B2;
            margin-bottom: 12px;
            font-family: $font-semibold;
        }

        &__text {
            font-size: 16px;
            line-height: 24px;
            font-family: $font-regular;
            font-weight: 400;
        }
    }

    .about-banner {
        width: 100%;
        height: 548px;
        background-image: url(../images/studio.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .about {
        .containr {
            display: flex;
        }

        &__desc {
            min-width: 50%;
            padding-right: 60px;
        }

        &__sub {
            font-size: 24px;
            line-height: 32px;
            font-family: $font-semibold;
            margin-bottom: 32px;
        }

        &__add {
            display: flex;
        }

        &__add-shower {
            margin-right: 52px;
            background-image: url(../images/pic_shower.png);
            background-position: left center;
            background-repeat: no-repeat;
            padding-left: 46px;
        }

        &__add-shop {
            background-image: url(../images/pic_shop.png);
            background-position: left center;
            background-repeat: no-repeat;
            padding-left: 46px;
        }

        &__text {
            p {
                font-size: 24px;
                line-height: 32px;
                margin-bottom: 34px;

                &:last-child {
                    margin: 0;
                }
            }

        }
    }

    .about-info {

        &__sup {}

        &__title {}

        &__text {}
    }

    .article {
        padding: 100px 0;
        &_tab{
            padding-top: 48px;
        }
        &__sup {
            font-size: 16px;
            line-height: 20px;
            text-transform: uppercase;
            font-weight: 400;
            color: #666C63;
            margin-bottom: 8px;
        }

        &__sub {
            font-size: 24px;
            line-height: 32px;
            font-weight: 400;
            max-width: 680px;
            margin-bottom: 48px;
            &_full{
                max-width: 100%;
            }
        }
        &__text{
            p{
                font-size: 16px;
                line-height: 24px;
                font-family: $font-regular;
                font-weight: 400;
                margin-bottom: 10px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        &__title {
            font-size: 72px;
            line-height: 80px;
            font-family: $font-medium-wide;
            margin-bottom: 20px;
            &_mb{
                margin-bottom: 56px;
            }
            &_nomargin {
                margin-bottom: 0;
            }

            &_schedule {
                position: relative;
                display: flex;
                justify-content: space-between;
                i{
                    font-style: normal;
                    font-size: 72px;
                    line-height: 80px;
                }
                
            }
        }
        &__quote{
            font-size: 48px;
            line-height: 56px;
            color: #B4B6B3;
            text-transform: none;
            text-align: center;
            position: relative;
            font-family: $font-regular;
            &:after{
                content: '';
                display: block;
                position: absolute;
                top: -61px;
                left: -97px;
                width: 106px;
                height: 82px;
                background-image: url(../images/quotes.png);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
        &__figure{
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            padding-right: 500px;
            position: relative;
            margin-bottom: 40px;
            &:after{
                content: '';
                display: block;
                position: absolute;
                right: 0;
                bottom: 0;
                width: 500px;
                height: 360px;
                background-image: url(../images/figure_1.png);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
            }
            &_3{
                &:after{
                    background-image: url(../images/figure_3.png);
                }
            }
        }
    }

    .about-info {
        display: flex;
    }

    .print {
        display: flex;
        font-size: 16px;
        line-height: 20px;
        background-image: url(../images/pic_print.png);
        background-position: right center;
        background-repeat: no-repeat;
        padding-right: 46px;
        cursor: pointer;
    }

    .container {
        max-width: 1376px;
    }

    .schedule-day {
        .class-row {
            border-bottom: 1px solid #dfdbd6;
            transition: $transition;

            &:not(.day-header):hover {
                background: #f0f0f0;
            }
        }
    }

    .btn.focus,
    .btn:focus {
        box-shadow: none;
    }

    .class-actions-wrap {
        display: flex;
        justify-content: flex-end;
    }

    .day-copy {
        padding: 30px 0 15px;
        font-size: 40px;
        line-height: 48px;
        font-family: $font-medium;

        .day-of-week {
            color: #666C63;
            font-size: 16px;
            line-height: 20px;
            text-transform: uppercase;
            font-family: $font-medium;
            margin-left: 20px;
        }
    }

    .class-row {
        .container {

            //padding: 0;
            .row {
                //margin: 0;
                padding: 15px 0;
            }
        }
    }

    .class-time-desc,
    .class-teacher-name {
        color: #666C63;
        font-size: 16px;
        line-height: 24px;
    }

    .class-title {
        display: flex;
        align-items: center;

        .info-tooltip {
            width: 20px;
            height: 20px;
            background-image: url(../images/pic_info.png);
            background-position: center center;
            background-repeat: no-repeat;
            cursor: pointer;
            margin-left: 10px;
            position: relative;

            .tooltip-text {
                opacity: 0;
                visibility: hidden;
                position: absolute;
                top: 40px;
                left: 50%;
                transform: translateX(-50%);
                width: 470px;
                border-radius: 8px;
                background: #CFDDC7;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                font-size: 14px;
                line-height: 20px;
                padding: 16px;
                z-index: 100;
                transition: $transition;
            }

            &:hover {
                .tooltip-text {
                    opacity: 1;
                    visibility: visible;
                    top: 30px;
                }
            }
        }
    }

    .label-title {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 5px;
    }

    .pick {
        padding: 0 16px;
        margin: 0;
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #E8E8E8;
        border-radius: 4px;
        font-size: 16px;
        line-height: 24px;
        //color: #FF7A00;
        height: 44px;
    }

    .schedule-actions-wrap {
        margin: 30px 0 0;
        padding-bottom: 30px;
        border-bottom: 1px solid #dfdbd6;
    }

    .member-list {
        display: flex;
        gap: 36px;
    }

    .member {
        width: 33.333%;
        background: #fff;
        border-radius: 12px;
        padding: 64px 32px 32px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__sup {
            font-size: 16px;
            line-height: 24px;
            color: #FF7A00;
            margin-bottom: 12px;
        }

        &__name {
            font-size: 32px;
            line-height: 40px;
            margin-bottom: 64px;
            font-family: $font-medium-wide;
        }

        &__price {
            font-size: 72px;
            line-height: 80px;
            margin-bottom: 8px;
            font-family: $font-medium-wide;
            span{
                font-size: 24px;
                line-height: 26px;
            }
        }

        &__note {
            color: #B4B6B3;
            margin-bottom: 96px;
        }
    }

    .btn {
        &_card {
            background: #fff;
            border: 1px solid #394531;
            width: 100%;
            justify-content: center;
            &:hover{
                background: #394531;
                color: #fff;
            }
        }
    }
    .pick_search{
        padding-right: 40px;
        background-image: url(../images/pic_search.png);
        background-position: calc(100% - 15px) center;
        background-repeat: no-repeat;
        margin-bottom: 30px;
    }
    .sort-wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
    }
    .sort-group {
        display: flex;
        justify-content: space-between;
    }
    .sort {
        display: flex;
        justify-content: space-between;
        margin-right: 90px;
        &__name {
            color: #666C63;
            margin-right: 20px;
            padding: 5px 0;
        }

        &__item {
            
        }

        &__item-val {
            padding: 5px 30px 5px 8px;
            cursor: pointer;
            position: relative;
            &:hover{
                box-shadow: 0px -8px 21px 2px rgba(255, 122, 0, 0.15);
                border-radius: 8px 8px 0 0;
                .sort__item-drop{
                    opacity: 1;
                    visibility: visible;
                    top: 100%;
                    box-shadow: 0px 8px 21px 2px rgba(255, 122, 0, 0.15)
                }
                &:after{
                    transform: rotate(180deg);
                }
            }
            &:after{
                content: '';
                display: block;
                width: 20px;
                height: 20px;
                position: absolute;
                top: 10px;
                right: 5px;
                background-image: url(../images/pic_chevron.png);
                background-position: center center;
                background-repeat: no-repeat;
                transition: $transition;
            }
        }

        &__item-drop {
            position: absolute;
            top: 140%;
            left: 0;
            right: 0;
            background: #F5F1ED;
            opacity: 0;
            visibility: hidden;
            transition: $transition;
            padding: 8px 0;
            border-radius: 0 0 8px 8px;
        }

        &__item-option {
            color: #878f84;
            transition: $transition;
            font-size: 20px;
            padding: 0 10px;
            &:hover{
                color: #394531;
            }
        }
    }
    .instructor-wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }
    .instructor {
        background: #fff;
        border-radius: 8px;
        transition: $transition;
        overflow: hidden;
        width: calc(25% - 12px);
        &:hover{
            box-shadow: 0px 8px 21px 2px rgba(255, 122, 0, 0.15)
        }
        &__pic {
        }

        &__name {
            height: 96px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 16px 32px;
            text-align: center;
        }
        .btn {
            margin: 0 16px 16px;
            width: calc(100% - 32px);
        }
    }
    .clas-wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: center;
    }
    .clas {
        background: #fff;
        border-radius: 8px;
        transition: $transition;
        overflow: hidden;
        width: calc(33.333% - 12px);
        &:hover{
            box-shadow: 0px 8px 21px 2px rgba(255, 122, 0, 0.15)
        }
        &__pic {
        }

        &__name {
            height: 96px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 16px 32px;
            text-align: center;
            font-size: 40px;
            line-height: 48px;
        }
        .btn {
            margin: 0 16px 16px;
            width: calc(100% - 32px);
        }
    }
    .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 40px 0;
		&__el {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            font-size: 16px;
            line-height: 20px;
            cursor: pointer;
            position: relative;
            color: #666C63;
            transition: $transition;
            &.act{
                color: #FF7A00;
            }
			&_start, &_prev, &_next, &_end {
                &:after{
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }
			}
            &_start{
                background-image: url(../images/pic_doubleright.png);
                background-repeat: no-repeat;
                background-position: center center;
                transform: rotate(180deg);
            }

			&_prev {
                background-image: url(../images/pic_right.png);
                background-repeat: no-repeat;
                background-position: center center;
                transform: rotate(180deg);
			}

			&_next {
                background-image: url(../images/pic_right.png);
                background-repeat: no-repeat;
                background-position: center center;
			}

			&_end {
                background-image: url(../images/pic_doubleright.png);
                background-repeat: no-repeat;
                background-position: center center;
			}
		}
    }   
.poster-line {
    display: flex;
    gap: 16px;
    margin-top: 50px;
    &__item {
        width: 25%;
        padding: 38px 16px 32px;
        background: #fff;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__item-pic {
        width: 48px;
        height: 48px;
        margin-bottom: 16px;
    }

    &__item-title {
        height: 80px;
        font-size: 32px;
        line-height: 40px;
        font-family: $font-medium-wide;
        display: flex;
        align-items: center;
        margin-bottom: 16px;
    }

    &__item-text {
        color: #99A592;
    }
}
.gal{
    display: flex;
    gap: 18px;
    margin-top: 48px;
    &__pic{
        width: 33.333%;
        border-radius: 8px;
    }
}
.tablegrid {
    display: flex;
    gap: 64px 16px;
    flex-wrap: wrap;
    &__item {
        width: calc(50% - 8px);
        padding-left: 46px;
        position: relative;
        &:after{
            content: '';
            display: block;
            position: absolute;
            top: 6px;
            left: 0;
            width: 27px;
            height: 20px;
            background-image: url(../images/ok.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
        }
    }
}



















    
    














    

}

.ui-menu .ui-menu-item-wrapper {
    padding: 0 16px !important;
    font-size: 16px !important;
    line-height: 40px;
    font-family: 'medium';
    //transition: all 0.2s ease-in-out;
    height: 40px;

    &.ui-state-active {
        background: #CFDDC7;
        color: #394531;
        border: 0;
        padding: 0 16px !important;
        font-size: 16px !important;
        line-height: 40px;
        height: 40px;
        font-family: 'medium';
    }
}

.ui-menu .ui-state-active,
.ui-menu .ui-state-focus {
    margin: 0;
}

.ui-datepicker {
    font-family: 'regular';

    .ui-widget-header {
        font-weight: 400;
        text-transform: uppercase;
        border: 0;
        background: transparent;
        color: #394531;
    }

    .ui-datepicker-next {
        .ui-icon {
            border-left: 8px solid #394531;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-right: 0;
        }

        &.ui-datepicker-next-hover {
            right: 2px;
            top: 2px;
        }
    }

    .ui-datepicker-prev {
        .ui-icon {
            border-right: 8px solid #394531;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-left: 0;
        }

        &.ui-datepicker-prev-hover {
            left: 2px;
            top: 2px;
        }
    }

    .ui-datepicker-next,
    .ui-datepicker-prev {
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            cursor: pointer;
        }

        .ui-icon {
            position: static;
            margin: 0;
            background-image: none;
            width: 0;
            height: 0;
        }

        &.ui-state-hover {
            border: 0;
            background: transparent;
        }
    }

    .ui-datepicker-calendar {
        th {
            color: #B4B6B3;
            font-weight: 400;
        }

        td {
            a {
                text-align: center;
            }
        }

        .ui-state-default {
            border: 0;
            background: transparent;
            font-weight: 400;
            color: #394531;

            &.ui-state-highlight {
                color: #FF7A00;
            }
        }
    }
}









@import '_revival_grid';
@import '_revival_query';