@font-face {
    font-family: 'medium';
    src: url('../fonts/L15-Medium.woff2') format('woff2'),
    url('../fonts/L15-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mediumwide';
    src: url('../fonts/L15-MediumWide.woff2') format('woff2'),
    url('../fonts/L15-MediumWide.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'regular';
    src: url('../fonts/L15-Regular.woff2') format('woff2'),
    url('../fonts/L15-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'regularwide';
    src: url('../fonts/L15-RegularWide.woff2') format('woff2'),
    url('../fonts/L15-RegularWide.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'semibold';
    src: url('../fonts/L15-SemiBold.woff2') format('woff2'),
    url('../fonts/L15-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body .revival{



$transition: all 0.2s ease-in-out;
$transition05: all 0.5s ease-in-out;

$font-medium: 'medium', Helvetica;
$font-medium-wide: 'mediumwide', Helvetica;
$font-regular: 'regular', Helvetica;
$font-regular-wide: 'regularwide', Helvetica;
$font-semibold: 'semibold', Helvetica;

$font-color: #394531;
$bg-green: #CFDDC7;
$bg-light: #F5F1ED;

*{
    font-family: $font-regular-wide;
    color: $font-color;
    font-size: 24px;
    line-height: 32px;
}

a:active,
a:focus,
input:active,
input:focus,
textarea:active,
textarea:focus,
button:active,
button:focus,
label:active,
label:focus{
    outline: none !important;
    outline-style: none !important;
    -moz-outline-style: none !important;
    text-decoration: none !important;
}

h1{font-size: 72px; line-height: 80px;}
h2{font-size: 72px; line-height: 80px;}

h1, h2{
    font-family: $font-medium;
    margin: 0 0 20px;
}

input,
select,
textarea {
    font-family: $font-regular;
}

p{
    margin: 0 0 20px;
}

img{
    line-height: 100%;
    max-width: 100%;
    display: block;
}

a,
a:hover,
a:focus,
a:visited,
a:active{
    color: $font-color;
    text-decoration: none;
    position: relative;
    transition: $transition;
}

ul{
    list-style-type: none;
    list-style-position: inside;
    display: block;
    margin: 0;
    padding: 0;
}

ol{
    list-style-type: decimal;
    list-style-position: inside;
    display: block;
    margin: 16px 0;
    padding: 0;
}

b, strong{
    font-weight: bold;
}

i{
    font-style: italic;
}

table{
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 12px 0 12px;
    width: 100%;
}

table th{
    font-weight: bold;
}

table th, table td{
    border: 1px solid #ccc;
    padding: 8px;
}








.intro {

    &_landing {
        background-image: url(../images/landing_intro.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 758px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &_studio {
        background-image: url(../images/landing_3.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 680px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &_footer {
        background-image: url(../images/landing_3.jpg);
    }

    &__header {
        color: #fff;
        margin-bottom: 100px;
        width: 1100px;
        text-align: center;
        &_footer{
            font-size: 128px;
            line-height: 144px;
            margin-bottom: 48px;
        }
    }
    &_studio {
        *{
            color: #fff;
        }
        
    }

    &__studio-header {
        width: 800px;
        max-width: 800px;
        margin-right: 80px;
    }
    &__studio-title{
        font-size: 128px;
        line-height: 144px;
    }
    &__header {
        &_studio{
            width: auto;
        }
    }

    &__info {
    }

    &__info-address {
    }

    &__info-contacts {
        a{
            &:hover{
                color: #fff;
                text-decoration: underline;
            }
        }
    }

    &__studio-poster {
        padding: 32px;
        background: #99A592;
        border-radius: 8px;
        max-width: 417px;
        h4{
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 24px;
            font-family: $font-regular;
        }
        h3{
            font-size: 32px;
            line-height: 40px;
            margin-bottom: 16px;
        }
        p{
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 0;
            a{
                font-size: 16px;
                line-height: 24px;
                color: #FF7A00;
                &:hover{
                    color: #FF7A00;
                    text-decoration: underline;
                }
            }
        }
    }
}
.containr {
    margin: 0 auto !important;
    width: 1376px;
    &_full {
        width: 100%;
        max-width: 1920px;
    }
    &_studio{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.df{
    display: flex;
}
.btn {
    height: 52px;
    padding: 0 48px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    transition: $transition;
    background: #fff;
    font-family: $font-medium;
    &:hover{
        background: #f1ffe9;
    }
    &_green{
        background: #CFDDC7;
        &:hover{
            background: #fff;
        }
    }
    &_schedule{
        background: #CFDDC7;
        &:hover{
            background: #f1ffe9;
        }
    }
}
.line {
    background: $bg-green;
    padding: 96px 0;
    display: flex;
    position: relative;
    &:after{
        content: '';
        display: block;
        width: 300px;
        height: 300px;
        background-image: url(../images/sun.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: -150px;
        right: 300px;
    }
    &_reverse{
        justify-content: flex-end;
        &:after{
            right: auto;
            left: 300px;
        }
    }
    
    &__pic {
        width: 47%;
        height: 480px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0 16px 16px 0;
        margin-right: 60px;
        &_reverse{
            border-radius: 16px 0 0 16px;
            margin: 0 0 0 60px;
        }
        &_landing-1{
            background-image: url(../images/landing_1.jpg);
        }
        &_landing-2{
            background-image: url(../images/landing_2.jpg);
        }
    }

    &__desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 650px;
    }

    &__title {
        font-family: $font-medium;
    }

    &__text {
        margin-bottom: 30px;
    }
}
.bg{
    &_green{
        background: $bg-green;
    }
    &_light{
        background: $bg-light;
    }
}
.nav-tabs{
    display: flex;
    justify-content: center;
    border: 0;
}
.nav-link{
    padding: 0;
    height: 64px;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    margin: 0 40px;
    border: 0;
    background: transparent;
    border-bottom: 2px solid transparent;
    color: #394531;
    font-family: $font-regular;
    &.active{
        border-color: #FF7A00;
        font-family: $font-medium;
    }
}
.infobanner-wrap {
    padding: 32px 0;
}
.infobanner {
    background: #fff;
    border-radius: 8px;
    padding: 24px 32px;
    display: flex;
    &__pic {
        width: 94px;
        min-width: 94px;
        height: 100px;
        background-image: url(../images/safe.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 32px;
    }
    &__inner {
    }
    &__title {
        font-size: 24px;
        line-height: 32px;
        color: #B9C5B2;
        margin-bottom: 12px;
        font-family: $font-semibold;
    }
    &__text {
        font-size: 16px;
        line-height: 24px;
        font-family: $font-regular;
        font-weight: 400;
    }
}
.about-banner{
    width: 100%;
    height: 548px;
    background-image: url(../images/studio.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about {
    .containr{
        display: flex;
    }
    &__desc {
        min-width: 50%;
        padding-right: 60px;
    }

    &__sub {
        font-size: 24px;
        line-height: 32px;
        font-family: $font-semibold;
        margin-bottom: 32px;
    }

    &__add {
        display: flex;
    }

    &__add-shower {
        margin-right: 52px;
        background-image: url(../images/pic_shower.png);
        background-position: left center;
        background-repeat: no-repeat;
        padding-left: 46px;
    }

    &__add-shop {
        background-image: url(../images/pic_shop.png);
        background-position: left center;
        background-repeat: no-repeat;
        padding-left: 46px;
    }

    &__text {
        p{
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 34px;
            &:last-child{
                margin: 0;
            }
        }
        
    }
}
.about-info {

    &__sup {
    }

    &__title {
    }

    &__text {
    }
}
.article {
    padding: 100px 0;
    &__sup{
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        font-weight: 400;
        color: #666C63;
        margin-bottom: 8px;
    }
    &__title{
        font-size: 72px;
        line-height: 80px;
        font-family: $font-medium;
        margin-bottom: 56px;
        &_nomargin{
            margin-bottom: 0;
        }
        &_schedule{
            position: relative;
            display: flex;
            justify-content: space-between;
        }
    }
    
}
.about-info {
    display: flex
}
.print{
    display: flex;
    font-size: 16px;
    line-height: 20px;
    background-image: url(../images/pic_print.png);
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 46px;
    cursor: pointer;
}

.container{
    max-width: 1376px;
}
.schedule-day{
    .class-row{
        border-bottom: 1px solid #dfdbd6;
        transition: $transition;
        &:not(.day-header):hover{
            background: #f0f0f0;
        }
    }
}
.btn.focus, .btn:focus{
    box-shadow: none;
}
.class-actions-wrap{
    display: flex;
    justify-content: flex-end;
}
.day-copy{
    padding: 30px 0 15px;
    font-size: 40px;
    line-height: 48px;
    font-family: $font-medium;
    .day-of-week{
        color: #666C63;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        font-family: $font-medium;
        margin-left: 20px;
    }
}
.class-row{
    .container{
        padding: 0;
        .row{
            //margin: 0;
            padding: 15px 0;
        }
    }
}
.class-time-desc, .class-teacher-name{
    color: #666C63;
    font-size: 16px;
    line-height: 24px;
}
.class-title{
    display: flex;
    align-items: center;
    .info-tooltip{
        width: 20px;
        height: 20px;
        background-image: url(../images/pic_info.png);
        background-position: center center;
        background-repeat: no-repeat;
        cursor: pointer;
        margin-left: 10px;
        position: relative;
        .tooltip-text{
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 40px;
            left: 50%;
            transform: translateX(-50%);
            width: 470px;
            border-radius: 8px;
            background: #CFDDC7;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-size: 14px;
            line-height: 20px;
            padding: 16px;
            z-index: 100;
            transition: $transition;
        }
        &:hover{
            .tooltip-text{
                opacity: 1;
                visibility: visible;
                top: 30px;
            }
        }
    }
}
.label-title{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
}
.pick{
    padding: 0 16px;
    margin: 0;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    //color: #FF7A00;
    height: 44px;
}
.schedule-actions-wrap{
    margin: 30px 0 0;
    padding-bottom: 30px;
    border-bottom: 1px solid #dfdbd6;
}
















.container-fluid {
    margin-right:auto;
    margin-left:auto;
    padding-left:15px;
    padding-right:15px
   }
   .container-fluid:after,
   .container-fluid:before {
    content:" ";
    display:table
   }
   .container-fluid:after {
    clear:both
   }
   .row {
    margin-left:-15px;
    margin-right:-15px
   }
   .row:after,
   .row:before {
    content:" ";
    display:table
   }
   .row:after {
    clear:both
   }
   .col-lg-1,
   .col-lg-10,
   .col-lg-11,
   .col-lg-12,
   .col-lg-2,
   .col-lg-3,
   .col-lg-4,
   .col-lg-5,
   .col-lg-6,
   .col-lg-7,
   .col-lg-8,
   .col-lg-9,
   .col-md-1,
   .col-md-10,
   .col-md-11,
   .col-md-12,
   .col-md-2,
   .col-md-3,
   .col-md-4,
   .col-md-5,
   .col-md-6,
   .col-md-7,
   .col-md-8,
   .col-md-9,
   .col-sm-1,
   .col-sm-10,
   .col-sm-11,
   .col-sm-12,
   .col-sm-2,
   .col-sm-3,
   .col-sm-4,
   .col-sm-5,
   .col-sm-6,
   .col-sm-7,
   .col-sm-8,
   .col-sm-9,
   .col-xs-1,
   .col-xs-10,
   .col-xs-11,
   .col-xs-12,
   .col-xs-2,
   .col-xs-3,
   .col-xs-4,
   .col-xs-5,
   .col-xs-6,
   .col-xs-7,
   .col-xs-8,
   .col-xs-9 {
    position:relative;
    min-height:1px;
    padding-left:15px;
    padding-right:15px
   }
   .col-xs-1,
   .col-xs-10,
   .col-xs-11,
   .col-xs-12,
   .col-xs-2,
   .col-xs-3,
   .col-xs-4,
   .col-xs-5,
   .col-xs-6,
   .col-xs-7,
   .col-xs-8,
   .col-xs-9 {
    float:left
   }
   .col-xs-1 {
    width:8.3333333333%
   }
   .col-xs-2 {
    width:16.6666666667%
   }
   .col-xs-3 {
    width:25%
   }
   .col-xs-4 {
    width:33.3333333333%
   }
   .col-xs-5 {
    width:41.6666666667%
   }
   .col-xs-6 {
    width:50%
   }
   .col-xs-7 {
    width:58.3333333333%
   }
   .col-xs-8 {
    width:66.6666666667%
   }
   .col-xs-9 {
    width:75%
   }
   .col-xs-10 {
    width:83.3333333333%
   }
   .col-xs-11 {
    width:91.6666666667%
   }
   .col-xs-12 {
    width:100%
   }
   .col-xs-pull-0 {
    right:auto
   }
   .col-xs-pull-1 {
    right:8.3333333333%
   }
   .col-xs-pull-2 {
    right:16.6666666667%
   }
   .col-xs-pull-3 {
    right:25%
   }
   .col-xs-pull-4 {
    right:33.3333333333%
   }
   .col-xs-pull-5 {
    right:41.6666666667%
   }
   .col-xs-pull-6 {
    right:50%
   }
   .col-xs-pull-7 {
    right:58.3333333333%
   }
   .col-xs-pull-8 {
    right:66.6666666667%
   }
   .col-xs-pull-9 {
    right:75%
   }
   .col-xs-pull-10 {
    right:83.3333333333%
   }
   .col-xs-pull-11 {
    right:91.6666666667%
   }
   .col-xs-pull-12 {
    right:100%
   }
   .col-xs-push-0 {
    left:auto
   }
   .col-xs-push-1 {
    left:8.3333333333%
   }
   .col-xs-push-2 {
    left:16.6666666667%
   }
   .col-xs-push-3 {
    left:25%
   }
   .col-xs-push-4 {
    left:33.3333333333%
   }
   .col-xs-push-5 {
    left:41.6666666667%
   }
   .col-xs-push-6 {
    left:50%
   }
   .col-xs-push-7 {
    left:58.3333333333%
   }
   .col-xs-push-8 {
    left:66.6666666667%
   }
   .col-xs-push-9 {
    left:75%
   }
   .col-xs-push-10 {
    left:83.3333333333%
   }
   .col-xs-push-11 {
    left:91.6666666667%
   }
   .col-xs-push-12 {
    left:100%
   }
   .col-xs-offset-0 {
    margin-left:0
   }
   .col-xs-offset-1 {
    margin-left:8.3333333333%
   }
   .col-xs-offset-2 {
    margin-left:16.6666666667%
   }
   .col-xs-offset-3 {
    margin-left:25%
   }
   .col-xs-offset-4 {
    margin-left:33.3333333333%
   }
   .col-xs-offset-5 {
    margin-left:41.6666666667%
   }
   .col-xs-offset-6 {
    margin-left:50%
   }
   .col-xs-offset-7 {
    margin-left:58.3333333333%
   }
   .col-xs-offset-8 {
    margin-left:66.6666666667%
   }
   .col-xs-offset-9 {
    margin-left:75%
   }
   .col-xs-offset-10 {
    margin-left:83.3333333333%
   }
   .col-xs-offset-11 {
    margin-left:91.6666666667%
   }
   .col-xs-offset-12 {
    margin-left:100%
   }
   @media (min-width:768px) {
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9 {
     float:left
    }
    .col-sm-1 {
     width:8.3333333333%
    }
    .col-sm-2 {
     width:16.6666666667%
    }
    .col-sm-3 {
     width:25%
    }
    .col-sm-4 {
     width:33.3333333333%
    }
    .col-sm-5 {
     width:41.6666666667%
    }
    .col-sm-6 {
     width:50%
    }
    .col-sm-7 {
     width:58.3333333333%
    }
    .col-sm-8 {
     width:66.6666666667%
    }
    .col-sm-9 {
     width:75%
    }
    .col-sm-10 {
     width:83.3333333333%
    }
    .col-sm-11 {
     width:91.6666666667%
    }
    .col-sm-12 {
     width:100%
    }
    .col-sm-pull-0 {
     right:auto
    }
    .col-sm-pull-1 {
     right:8.3333333333%
    }
    .col-sm-pull-2 {
     right:16.6666666667%
    }
    .col-sm-pull-3 {
     right:25%
    }
    .col-sm-pull-4 {
     right:33.3333333333%
    }
    .col-sm-pull-5 {
     right:41.6666666667%
    }
    .col-sm-pull-6 {
     right:50%
    }
    .col-sm-pull-7 {
     right:58.3333333333%
    }
    .col-sm-pull-8 {
     right:66.6666666667%
    }
    .col-sm-pull-9 {
     right:75%
    }
    .col-sm-pull-10 {
     right:83.3333333333%
    }
    .col-sm-pull-11 {
     right:91.6666666667%
    }
    .col-sm-pull-12 {
     right:100%
    }
    .col-sm-push-0 {
     left:auto
    }
    .col-sm-push-1 {
     left:8.3333333333%
    }
    .col-sm-push-2 {
     left:16.6666666667%
    }
    .col-sm-push-3 {
     left:25%
    }
    .col-sm-push-4 {
     left:33.3333333333%
    }
    .col-sm-push-5 {
     left:41.6666666667%
    }
    .col-sm-push-6 {
     left:50%
    }
    .col-sm-push-7 {
     left:58.3333333333%
    }
    .col-sm-push-8 {
     left:66.6666666667%
    }
    .col-sm-push-9 {
     left:75%
    }
    .col-sm-push-10 {
     left:83.3333333333%
    }
    .col-sm-push-11 {
     left:91.6666666667%
    }
    .col-sm-push-12 {
     left:100%
    }
    .col-sm-offset-0 {
     margin-left:0
    }
    .col-sm-offset-1 {
     margin-left:8.3333333333%
    }
    .col-sm-offset-2 {
     margin-left:16.6666666667%
    }
    .col-sm-offset-3 {
     margin-left:25%
    }
    .col-sm-offset-4 {
     margin-left:33.3333333333%
    }
    .col-sm-offset-5 {
     margin-left:41.6666666667%
    }
    .col-sm-offset-6 {
     margin-left:50%
    }
    .col-sm-offset-7 {
     margin-left:58.3333333333%
    }
    .col-sm-offset-8 {
     margin-left:66.6666666667%
    }
    .col-sm-offset-9 {
     margin-left:75%
    }
    .col-sm-offset-10 {
     margin-left:83.3333333333%
    }
    .col-sm-offset-11 {
     margin-left:91.6666666667%
    }
    .col-sm-offset-12 {
     margin-left:100%
    }
   }
   @media (min-width:992px) {
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9 {
     float:left
    }
    .col-md-1 {
     width:8.3333333333%
    }
    .col-md-2 {
     width:16.6666666667%
    }
    .col-md-3 {
     width:25%
    }
    .col-md-4 {
     width:33.3333333333%
    }
    .col-md-5 {
     width:41.6666666667%
    }
    .col-md-6 {
     width:50%
    }
    .col-md-7 {
     width:58.3333333333%
    }
    .col-md-8 {
     width:66.6666666667%
    }
    .col-md-9 {
     width:75%
    }
    .col-md-10 {
     width:83.3333333333%
    }
    .col-md-11 {
     width:91.6666666667%
    }
    .col-md-12 {
     width:100%
    }
    .col-md-pull-0 {
     right:auto
    }
    .col-md-pull-1 {
     right:8.3333333333%
    }
    .col-md-pull-2 {
     right:16.6666666667%
    }
    .col-md-pull-3 {
     right:25%
    }
    .col-md-pull-4 {
     right:33.3333333333%
    }
    .col-md-pull-5 {
     right:41.6666666667%
    }
    .col-md-pull-6 {
     right:50%
    }
    .col-md-pull-7 {
     right:58.3333333333%
    }
    .col-md-pull-8 {
     right:66.6666666667%
    }
    .col-md-pull-9 {
     right:75%
    }
    .col-md-pull-10 {
     right:83.3333333333%
    }
    .col-md-pull-11 {
     right:91.6666666667%
    }
    .col-md-pull-12 {
     right:100%
    }
    .col-md-push-0 {
     left:auto
    }
    .col-md-push-1 {
     left:8.3333333333%
    }
    .col-md-push-2 {
     left:16.6666666667%
    }
    .col-md-push-3 {
     left:25%
    }
    .col-md-push-4 {
     left:33.3333333333%
    }
    .col-md-push-5 {
     left:41.6666666667%
    }
    .col-md-push-6 {
     left:50%
    }
    .col-md-push-7 {
     left:58.3333333333%
    }
    .col-md-push-8 {
     left:66.6666666667%
    }
    .col-md-push-9 {
     left:75%
    }
    .col-md-push-10 {
     left:83.3333333333%
    }
    .col-md-push-11 {
     left:91.6666666667%
    }
    .col-md-push-12 {
     left:100%
    }
    .col-md-offset-0 {
     margin-left:0
    }
    .col-md-offset-1 {
     margin-left:8.3333333333%
    }
    .col-md-offset-2 {
     margin-left:16.6666666667%
    }
    .col-md-offset-3 {
     margin-left:25%
    }
    .col-md-offset-4 {
     margin-left:33.3333333333%
    }
    .col-md-offset-5 {
     margin-left:41.6666666667%
    }
    .col-md-offset-6 {
     margin-left:50%
    }
    .col-md-offset-7 {
     margin-left:58.3333333333%
    }
    .col-md-offset-8 {
     margin-left:66.6666666667%
    }
    .col-md-offset-9 {
     margin-left:75%
    }
    .col-md-offset-10 {
     margin-left:83.3333333333%
    }
    .col-md-offset-11 {
     margin-left:91.6666666667%
    }
    .col-md-offset-12 {
     margin-left:100%
    }
   }
   @media (min-width:1200px) {
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9 {
     float:left
    }
    .col-lg-1 {
     width:8.3333333333%
    }
    .col-lg-2 {
     width:16.6666666667%
    }
    .col-lg-3 {
     width:25%
    }
    .col-lg-4 {
     width:33.3333333333%
    }
    .col-lg-5 {
     width:41.6666666667%
    }
    .col-lg-6 {
     width:50%
    }
    .col-lg-7 {
     width:58.3333333333%
    }
    .col-lg-8 {
     width:66.6666666667%
    }
    .col-lg-9 {
     width:75%
    }
    .col-lg-10 {
     width:83.3333333333%
    }
    .col-lg-11 {
     width:91.6666666667%
    }
    .col-lg-12 {
     width:100%
    }
    .col-lg-pull-0 {
     right:auto
    }
    .col-lg-pull-1 {
     right:8.3333333333%
    }
    .col-lg-pull-2 {
     right:16.6666666667%
    }
    .col-lg-pull-3 {
     right:25%
    }
    .col-lg-pull-4 {
     right:33.3333333333%
    }
    .col-lg-pull-5 {
     right:41.6666666667%
    }
    .col-lg-pull-6 {
     right:50%
    }
    .col-lg-pull-7 {
     right:58.3333333333%
    }
    .col-lg-pull-8 {
     right:66.6666666667%
    }
    .col-lg-pull-9 {
     right:75%
    }
    .col-lg-pull-10 {
     right:83.3333333333%
    }
    .col-lg-pull-11 {
     right:91.6666666667%
    }
    .col-lg-pull-12 {
     right:100%
    }
    .col-lg-push-0 {
     left:auto
    }
    .col-lg-push-1 {
     left:8.3333333333%
    }
    .col-lg-push-2 {
     left:16.6666666667%
    }
    .col-lg-push-3 {
     left:25%
    }
    .col-lg-push-4 {
     left:33.3333333333%
    }
    .col-lg-push-5 {
     left:41.6666666667%
    }
    .col-lg-push-6 {
     left:50%
    }
    .col-lg-push-7 {
     left:58.3333333333%
    }
    .col-lg-push-8 {
     left:66.6666666667%
    }
    .col-lg-push-9 {
     left:75%
    }
    .col-lg-push-10 {
     left:83.3333333333%
    }
    .col-lg-push-11 {
     left:91.6666666667%
    }
    .col-lg-push-12 {
     left:100%
    }
    .col-lg-offset-0 {
     margin-left:0
    }
    .col-lg-offset-1 {
     margin-left:8.3333333333%
    }
    .col-lg-offset-2 {
     margin-left:16.6666666667%
    }
    .col-lg-offset-3 {
     margin-left:25%
    }
    .col-lg-offset-4 {
     margin-left:33.3333333333%
    }
    .col-lg-offset-5 {
     margin-left:41.6666666667%
    }
    .col-lg-offset-6 {
     margin-left:50%
    }
    .col-lg-offset-7 {
     margin-left:58.3333333333%
    }
    .col-lg-offset-8 {
     margin-left:66.6666666667%
    }
    .col-lg-offset-9 {
     margin-left:75%
    }
    .col-lg-offset-10 {
     margin-left:83.3333333333%
    }
    .col-lg-offset-11 {
     margin-left:91.6666666667%
    }
    .col-lg-offset-12 {
     margin-left:100%
    }
   }

}

.ui-menu .ui-menu-item-wrapper{
    padding: 0 16px !important;
    font-size: 16px !important;
    line-height: 24px;
    font-family: 'medium';
    //transition: all 0.2s ease-in-out;
    &.ui-state-active{
        background: #CFDDC7;
        color: #394531;
        border-color: transparent;
        padding: 0 16px !important;
        font-size: 16px !important;
        line-height: 24px;
    }
}











@import '_revival_query';